@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-white;
  /* @apply bg-gray-900; */
  @apply bg-black;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.glow {
  box-shadow: 0 0 5px 3px #d6aa52;
  transition: box-shadow 0.3s ease-in-out;
}

.glow:hover {
  box-shadow: 0 0 10px 5px #d6aa52;
}

.glare {
  position: relative;
  overflow: hidden;
}

.glare::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(
    ellipse at center,
    rgba(214, 170, 82, 0.4) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  transform: rotate(45deg);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.glare:hover::before {
  opacity: 1;
}

.glare-mousemove {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    ellipse at center,
    rgba(214, 170, 82, 0.3) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  transform: scale(0.8);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.3s, opacity 0.3s;
}

.glare-mousemove.active {
  transform: scale(1);
  opacity: 1;
}
