@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-black;
  @apply bg-gray-300;
  zoom: 110%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.giscus {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.giscus-frame {
  @apply max-w-3xl;
  margin: 0 auto;
  border: 0;
  border-radius: 0.5rem;
  overflow: hidden;
}
