@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-white;
  /* @apply bg-gray-900; */
  /* @apply bg-black; */
  /* background-color: #222426; */
  /* background-color: #101720; */
  /* background-color: #161f28; */
  /* background-color: #222428; */
  background-color: #1f212a;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.giscus {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.giscus-frame {
  @apply max-w-3xl;
  margin: 0 auto;
  border: 0;
  border-radius: 0.5rem;
  overflow: hidden;
}
